<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
   
   <bean id = "lappy" class = "com.spring.LearnSpring.Laptop" >
	<property name = "brand" value = "dell" />         
	<property name = "price" value = "35000" />
	<property name = "color" value = "silver" />  <!--  Setter injection  -->
	</bean>
	
	
	 
	 <bean id = "person" class = "com.spring.LearnSpring.Person" >
	<property name = "name" value = "Pratik" />  
	 <property name = "contacts">
	 	<set>
	 		<value> +91 8217483280</value>
	 		<value> +91 9449938926</value>
	 	</set>
	 </property>
	   
	 <property name = "bikes">
	 	<list>
	 		<value> Hero Honda</value>
	 		<value> RX100 </value>
	 		<value> Splendor </value>
	 		
	 	</list>
	 </property>
	 
	 <property name = "siblings">
	 	<map>
	 		<entry key = "1" value = "Raju" />
	 		<entry key = "2" value = "Pramod" />
	 		<entry key = "3" value = "vivek" />
	 	</map>
	 </property>
	</bean>
	
	
</beans>