<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Update employee</title>
</head>
<body>
	<h3>Fill employee details</h3>
	<form action="update" method = "post">
		<label>Employee ID: </label>
		<input type = "text" name="id">
		<br><br>
		<label>Employee Name: </label>
		<input type = "text" name="name">
		<br><br>
		<label>Employee Team: </label>
		<input type = "text" name="team">
		<br><br>
		<label>Employee Salary: </label>
		<input type = "text" name="salary">
		<br><br>
		<input type = "submit" value = "Update Employee">
	</form>
</body>
</html>