<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel = "stylesheet" href = "./css/style.css">
</head>
<body>
		<div th:if =  "${msg}" style = "color: green">
			<p th:text = "${msg}"></p>
		</div>
	<h2>Sign In below</h2>
	<form action="signIn" method="POST">
	    <label for="username">Username:</label><br>
	    <input type="text" id="username" name="username" required><br><br>
	
	    <label for="password">Password:</label><br>
	    <input type="password" id="password" name="password" required><br><br>
	
	    <button type="submit" value = "SIGN IN"> Sign In</button>
		    <div th:if =  "${errorMsg}" style = "color: rgb(255, 0, 128)">
				<p th:text = "${errorMsg}"> </p>
			</div>
	</form>

	<p>Don't have an account? <a href="sign_up.html">Sign Up</a></p>

</body>
</html>
